<div class= "side-header">
  <div class= "header-name">
    <a href="#">TOM</a>  
  </div>
  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-name" >
  <div class="chat-room">
    <a href="#">chat-name</a>
  </div>
    <div class="chat-room">
    <a href="#">chat-name</a>
  </div>
</div>