.wrapper {
  display: flex;
}

/****************
side_bar
*****************/
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header{
  height:100px;
  padding: 0 20px;
}

.side-name{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

/****************
main_chat
****************/
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.main-header{
  height: 100px;
  padding: 0 40px;
}

.main-chat{
  background-color:#FAFAFA;
  height:calc(100vh - 190px);
  padding: 46px 40px 0 40px;
}

.main-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}